<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="cart-offcanvas"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header border-bottom shadow-sm">
        <h5 class="offcanvas-title fw-bold text-secondary" id="offcanvasExampleLabel">Selected Books</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <p class="fw-bold text-secondary"><small>Review</small></p>
        <div class="mt-2">
            <div class="card border bg-white">
                <div class="card-body text-secondary">
                    <p class="text-primary-50 fs-6 mb-3 fw-bold">
                        Introduction to Programming
                    </p>
                    <p class="mb-2">
                        <small>Category: Programming</small>
                    </p>
                    <p class="mb-2">
                        <small>Date Published: 08-08-2022</small>
                    </p>

                    <div class="mt-2 text-end">
                        <button class="btn btn-c-dark btn-sm remove-book" type="button">Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 start-0 w-100 mb-2 px-2">
              <div class="d-grid">
                <a  href="#" class="btn btn-primary" type="button">
                    <small><i class="bx bx-download me-1"></i> Borrow all</small>
                </a>
            </div>
        </div>
    </div>
</div>