<footer class="bg-dark py-4">
    <div class="container">
        <div class="row align-items-center gy-2 ">
            <div class="col-md-2 text-center">
                <img src="{{url_for('static',filename='images/lspu_seal-6 1.png')}}" alt="" class="img-fluid">
            </div>
            <div class="col-md text-secondary">
                <p class="my-1">Address: CC7X+C7P, L. de Leon Street, Siniloan, 4019 Laguna Phone: (049) 813 0452</p>
                <p class="my-1">Copyright © 2019. All Rights ReservedTerms and Conditions | Privacy Policy</p>
            </div>
        </div>
    </div>
</footer>