{%extends 'admin/base.html.jinja'%}
{%block title%} Rentals {%endblock%}

{%block content%}
<div class="container">
    <h3>Rentals</h3>
    <hr>
    <div class="">
        {% for message in get_flashed_messages(category_filter=["message"]) %}
        <div class="text-start flash alert alert-success mb-3"><i class="bx bxs-check-circle me-1"></i> {{ message }}
        </div>
        {% endfor %}
        {% for message in get_flashed_messages(category_filter=["error"]) %}
        <div class="text-start flash alert alert-danger mb-3"><i class="bx bx-info-circle me-1"></i> {{ message }}</div>
        {% endfor %}
    </div>
   
    <div class="table-responsive-sm">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Student</th>
                    <th>Date Rented</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                {%for i in range(0,len)%}
                <tr>
                    <td>{{i+1}}</td>
                    <td>
                        {{rentals[i].firstname}} {{rentals[i].middlename}} {{rentals[i].lastname}}
                    </td>
                    <td>
                        {{rentals[i].date}}
                    </td>
                    <td>
                        {%if rentals[i].status == 0 %}
                            Not returned
                        {%else%}
                            Returned
                        {%endif%}
                        
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            </tbody>
        </table>
    </div>
</div>

{%include 'admin/components/students-modal.html.jinja'%}
{%endblock%}

{%block scripts%}
<script>

    $(function(){
        $("#table").dataTable()
    })

    $('#lastname-box').on('change, keydown, keyup', function (e) {
        $("#password-box").val($(this).val())
    })
    $('#edit-lastname-box').on('change', function (e) {
        $("#edit-password-box").val($(this).val())
    })

    $("#edit-modal").on('show.bs.modal', function (e) {
        let id = $(e.relatedTarget).data('id')

        $.ajax({
            url: "{{url_for('admin.get_student')}}",
            method: "post",
            data: { id },
            dataType: 'json',
            success: function (res) {
                console.log('res: ', res)

                $("#edit-firstname-box").val(res.firstname)
                $("#edit-middlename-box").val(res.middlename)
                $("#edit-lastname-box").val(res.lastname)
                $("#edit-gender").val(res.gender).html(res.gender)
                $("#edit-year-level-box").val(res.year_level)
                $("#edit-student-id-box").val(res.student_id)
                $('#id-box').val(res.id)

            },
            error: function (err) {
                console.log('error: ', err)
            }
        })
    })

    $(".delete").on('click', function (e) {
        const id = $(this).data('id')
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
               window.location.href = `{{url_for('admin.delete_student')}}?id=${id}`
            }
        })
    })
</script>
{%endblock%}