{%extends 'admin/base.html.jinja'%}

{%block title%} Students Record {%endblock%}

{%block content%}
<div class="container">
    <h3>Students</h3>
    <hr>
    <div class="text-start">
        {% for message in get_flashed_messages(category_filter=["error"]) %}
        <div class="text-start py-2 flash alert alert-danger mb-3">{{ message }}</div>
        {% endfor %}
    </div>
    <div class="text-end mb-3">
        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add-modal">
            Add student
        </button>
    </div>
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Year level</th>
                    <th>Email Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for x in range(0,len) %}
                <tr>
                    <td>{{x + 1}}</td>
                    <td>{{students[x].student_id}}</td>
                    <td>{{students[x].firstname}} {{students[x].lastname}}</td>
                    <td>{{students[x].gender}}</td>
                    <td>{{students[x].year_level}}</td>
                    <td>{{students[x].email}}</td>
                    <td>
                        <button class="btn btn-success btn-sm edit-student" data-bs-target="#edit-modal" data-bs-toggle="modal" data-id="{{students[x].id}}">
                            <i class="bx bx-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-sm delete-student" data-id="{{students[x].id}}">
                            <i class="bx bx-trash"></i>
                        </button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{%include 'admin/components/students-modal.html.jinja'%}
{%endblock%}

{%block scripts%}
<script>
    $('#lastname-box').on('change, keydown, keyup', function (e) {
        $("#password-box").val($(this).val())
    })
    $('#edit-lastname-box').on('change', function (e) {
        $("#edit-password-box").val($(this).val())
    })

    $("#edit-modal").on('show.bs.modal',function(e){
        let id = $(e.relatedTarget).data('id')

        $.ajax({
            url:"{{url_for('admin.get_student')}}",
            method:"post",
            data:{id},
            dataType:'json',
            success:function(res){
                console.log('res: ', res)

                let values = Object.values(res)
                console.log('values: ', values)
                
                for(let i=0;i<values.length;i++){
                    $(".form-control")[i].value = values[i]
                }
                
            },
            error:function(err){
                console.log('error: ', err)
            }
        })
    })
</script>
{%endblock%}