@import './colors';

$primary: $blue;
$success: $green;
$danger:$red;

@import '../bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: 'custom';
    src: url('../CharlieDisplay-Light.otf');
}

*{
    font-family: 'custom' !important;
}

.btn-success{
    color: white !important;
}
.btn-outline-success{
    &:hover{
        color: white !important;
    }
}
.btn-danger{
    color: white !important;
}

.text-primary-50{
    color: rgba($color: $blue, $alpha: 0.7);
}

@each $color,
$value in $custom-color-map {
    .btn-c-#{$color} {
        background: rgba($color: $value, $alpha: 0.15) !important;
        color: rgba($color: $value, $alpha: 1);
        font-weight: bold !important;
        border: 1px solid rgba($color: $value, $alpha: 0.12) !important;

        &:hover {
            background: rgba($color: $value, $alpha: 0.25) !important;
            color: rgba($color: $value, $alpha: 1) !important;
        }
    }
}
@each $color,
$value in $custom-color-map {
    .btn-c-light-#{$color} {
        background: rgba($color: $value, $alpha: 0.1) !important;
        color: rgba($color: $value, $alpha: 1);
        font-weight: bold !important;
        border: 1px solid rgba($color: $value, $alpha: 0.3) !important;

        &:hover {
            background: rgba($color: $value, $alpha: 0.25) !important;
            color: rgba($color: $value, $alpha: 1) !important;
        }
    }
}