@import './colors';

$primary: $blue;
$success: $green;
$danger:$red;

@import '../bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: 'Gill Sans';
    src: url('../GIL_____.TTF');
}

*{
    font-family: 'Gill Sans' !important;
}

.btn-success{
    color: white !important;
}
.btn-danger{
    color: white !important;
}